body{
    background-color: rgb(211, 206, 203);
}
.home{
    width: 100%;
    height: 100%;
}
.home-image{
    display: flex;
    background-image: url('home.jpg');
    height: 800px;
    width: 100vw;

}
.home-image div{
    margin: auto auto auto 80px;
}
.home-image p{
    
    font-size: 60px;
    font-weight: 700;
    color: white!important;
    text-align: left;
}
.home-image p sa{
    color:#ff4f0f;
}
.home-image button{
    width: 500px;
    background-color: #ff4f0f;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
}

.Menu{
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 2;
}
.logo{
    width: 100px;
    height: 100px;
    margin-left: 20px;
    background: url('logo.png');
    background-size: cover;  
}

.equipo-img, .routine-img, .trainer-img, .clases-img {
    width: 100px;
    height: 100px;
    background-color: #ff4f0f;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 100px;
    padding: 10px;
    border-radius: 10px;
    border: none; /* Asegúrate de que el borde esté configurado como none */
    margin: auto auto;
    display: flex;
    margin-bottom: 18px;
}

.equipo-img{
    background-image: url('maquina.png');
}
.routine-img{
    background-image: url('routine.png');
}
.clases-img{
    background-image: url('grupo.png');
}
.trainer-img{
    background-image: url('hombre.png');
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   /* background-color: rgba(47, 47, 47, 0.7);*/
    background: linear-gradient(45deg,rgb(0, 0, 0) 0%, rgba(17, 17, 17, .5) 100%);
    padding: 0 20px;
    height: 100px;
    width: 100%;
    border-bottom: 2px solid #ff4500;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-size: 27px;
    font-weight: 700;
    transition: color 0.3s, transform 0.3s; /* Transición suave para color y transformación */
}

nav ul li a:hover {
    color: #ff4500; /* Cambia el color al pasar el ratón */
    transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el ratón */
}

nav ul li a:active {
    color: #e74c3c; /* Cambia el color al hacer clic */
}
section{
}
section ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

section li{
    list-style: none;
    margin: 45px ;
    font-size: 17px;
    background-color: rgba(0, 0, 0, 0.863);
    padding: 25px;
    border-radius: 15px;
    transition: .4s;
    width: 200px;
    color:white;
    text-align: justify;
}
section li:hover{
    transform: translateY(-10px);
    transition: .3s;
}
section strong{
    color: #e74c3c;
    font-size: 19px;
}

button{
    margin: 25px auto 50px auto;
}

p, p strong{
    font-size: 1.5em;
    color: rgb(0, 9, 87)!important;
    margin: 25px 0 20px 0
}