.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(14, 17, 26);
  }
  
  .form-container {
    flex: 1;
    max-width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos dentro del formulario */
  }
  
  .image-container {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .image-container img {
    max-width: 100%;
    min-height: 100%;
  }
  
  .image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(14, 17, 26, 1), rgba(0, 0, 0, 0)); /* Degradado */
    pointer-events: none;
  }
  
  .form-group {
    margin-bottom: 15px;
    width: 100%; /* Asegura que los inputs ocupen todo el ancho disponible */
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos dentro del formulario */
    width: 100%;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 500px; /* Ajusta el ancho al 100% del contenedor */
    border-radius: 10px;
    border: 1px solid #4d4d4d7a;
    background-color: rgb(14, 17, 26);
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 500px; /* Ajusta el ancho al 100% del contenedor */
     /* Limita el ancho máximo */
    border-radius: 10px;
    font-weight: bolder;
    color: rgb(14, 17, 26);
    font-size: 20px;
  }
  
  button:hover {
    background-color: #0056b3;
  }