/* Contenedor principal */
.login-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 5vh auto;
  height: 90vh; /* Asegura que ocupe el 90% de la altura del viewport */
  background-color: rgb(14, 17, 26);
  border-radius: 15px;
  overflow: hidden; /* Evita desbordamientos visuales */
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.6); /* Sombra elegante */
}

/* Contenedor del formulario */
.form-container {
  flex: 0.8; /* Ocupa la mitad izquierda del contenedor */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centra el contenido */
  background: rgba(255, 255, 255, 0.1); /* Fondo transparente */
  border-right: 2px solid rgba(255, 255, 255, 0.1); /* Línea divisoria elegante */
  border-radius: 15px 0 0 15px; /* Bordes redondeados en la parte izquierda */
  text-align: center;
}

/* Título del formulario */
.form-container h2 {
  margin-bottom: 2rem;
  font-size: 2.5rem; /* Tamaño más grande */
  color: #e74c3c;
}

/* Inputs del formulario */
input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #4d4d4d7a;
  background-color: rgb(205, 207, 212);
}

/* Botón */
.login-container button {
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 90%;
  border-radius: 10px;
}

button:hover {
  background-color: #0056b3;
}

/* Link de registro */
.link-sign_up {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: white;
  text-align: center;
}

.link-sign_up a {
  color: #ff4500; /* Rojo intenso */
  text-decoration: none;
  font-weight: bold;
}

.link-sign_up a:hover {
  text-decoration: underline;
}

/* Contenedor de la imagen */
.image-container {
  flex: 1; /* Ocupa todo el lado derecho */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(18, 18, 18, 0.9); /* Fondo oscuro */
  position: relative;
  overflow: hidden; /* Evita desbordamientos */
}

.image-container img {
  width: 100%; /* La imagen ocupa todo el ancho */
  height: 100%; /* La imagen ocupa toda la altura */
  object-fit: cover; /* Ajusta la imagen sin deformarla */
}
