
/* Fondo negro */
.user-home-container {
  background-color: #121212;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}



/* Contenido principal */
.main-content {
  display: flex;
  flex-direction: column;
  padding: 150px 20px 20px 20px;
}

/* Contenedor de columnas y contenido dinámico */
.columns-and-content {
  display: flex;
  width: 100%;
}

/* Sección de columnas alineadas a la izquierda */
.columns-section {
  width: 30%; /* Ajusta el ancho de las columnas */
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.column {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.column:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Sección de contenido dinámico */
.content-section {
  width: 70%; /* Ajusta el espacio disponible para contenido */
  margin-left: 20px; /* Espacio entre columnas y contenido */
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
}
.user-logo{
  margin-left: 180px;
}
/* Imagen del usuario */
.user-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
  background-color: transparent;
}

/* Sección de bienvenida */
.welcome-section {
  display: flex;
  gap: 15px;
}

.welcome-section h1 {
  font-size: 2rem;
  color: #ff4500;
}
